.home{
    display: grid;
    height: auto;
    width: 100%;
    overflow: hidden;
    grid-area: Home;
    grid-template-areas: "sideBar products"
                         "footer footer";
    grid-template-columns: 295px auto;
    grid-template-rows: auto 180px;
}