.home{
    display: grid;
    min-height: 44vh;
    width: 100%;
    overflow: hidden;
    grid-area: Home;
    grid-template-areas: "sideBar products";
    grid-template-columns: 295px auto;
}

@media (max-width: 480px) {
    .home {
        grid-template-areas: "sideBar sideBar"
                             "products products"
                             "footer footer";
        grid-template-rows: 200px auto 180px;
    }
}