@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

.footerContainer {
    height: 180px;
    width: 100%;
    background-image: url('../../assets/Dark-Grey-Background-89.png');
    background-position: 50% -80%;
    background-size: cover;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0px 1px 5px;
    text-align: center;
    font-size: 40px;
    color:black;
}

.footerContainer > p {
    font-family: 'Red Hat Display', sans-serif;
    color: rgb(212, 209, 209);
    font-size: 0.7rem;
    margin: 0px;
}

.footerContainer > div > a {
    margin: 10px;
}

.footerContainer a {
    color: black;
}




